body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-signin{
  max-width: 330px;
}

.btn-block{
  display: block;
  width: 100%;
}

.link {
  text-decoration: none;
}

.blockButton {
  display: flex;
  justify-content: space-between;
}

.block{
  display: flex;
  justify-content: center;
}

.rotate{
  transform: rotateY(180deg);
  transition: 1s;
}


.block{
  display: flex;
  flex-wrap: wrap;
}

.mainBlock{
  background: url(https://bogatyr.club/uploads/posts/2023-03/1679587199_bogatyr-club-p-fon-dlya-prezentatsii-angliya-krasivo-1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  
}